{% extends 'parking/base.html' %}

{% block content %}
<div class="spot-details card">
    <div class="spot-number">{{ selected_spot.spot_number }}</div>
    <div class="spot-location">{{ selected_spot.location }}</div>

    {% if is_booked %}
        <div class="spot-status busy">Место занято или забронировано.</div>
    {% else %}
        <div class="spot-status free">Место свободно для бронирования.</div>
    {% endif %}

    {% if not is_booked %}
    <form method="post" action="{% url 'book_spot' selected_spot.id %}">
        {% csrf_token %}
        <input type="hidden" name="start_date" value="{{ start_date }}">
        <input type="hidden" name="end_date" value="{{ end_date }}">
        <button type="submit" class="btn-book">Забронировать</button>
    </form>
    {% endif %}

        <h3>Ближайшие бронирования:</h3>
            {% regroup bookings by start_date as bookings_by_date %}
        <ul>
          {% for date_group in bookings_by_date %}
            {% with last_booking=date_group.list|last %}
              <li>{{ date_group.grouper|date:"d.m.Y" }} — {{ last_booking.end_date|date:"d.m.Y" }}</li>
            {% endwith %}
          {% empty %}
            <li>Нет бронирований</li>
          {% endfor %}
        </ul>

    {% if rental %}
        <p>Место забронировано</p>
        <p>Автомобиль: {{ rental.car.brand }} {{ rental.car.license_plate }}</p>
        <p>Дата бронирования: {{ rental.start_date|date:"d.m.Y" }} — {{ rental.end_date|date:"d.m.Y" }}</p>
    {% elif selected_spot.status == 'reserved' %}
        <p>Место зарезервировано</p>
    {% else %}
        <p>Место свободно для бронирования.</p>
    {% endif %}
</div>
{% endblock %}
