{% extends 'parking/base.html' %}
{% block content %}
<div class="spot-details">
    <div class="spot-number">{{ selected_spot.spot_number }}</div>
    <div class="spot-location">{{ selected_spot.location }}</div>

    {% if is_booked %}
        <div class="spot-status busy">Место занято или забронировано.</div>
    {% else %}
        <div class="spot-status free">Место свободно для бронирования.</div>
    {% endif %}

        {% if not is_booked %}
    <form method="post" action="{% url 'book_spot' selected_spot.id %}">
    {% csrf_token %}
    <input type="hidden" name="start_date" value="{{ start_date }}">
    <input type="hidden" name="end_date" value="{{ end_date }}">
    <button type="submit" class="btn-book">Забронировать</button>
    </form>

    {% endif %}

    <h3>Ближайшие бронирования:</h3>
    <ul>
        {% for booking in bookings %}
            <li>{{ booking.start_date|date:"d.m.Y" }} — {{ booking.end_date|date:"d.m.Y" }}</li>
        {% empty %}
            <li>Нет бронирований</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
